**/node_modules/
**/.env
**/.env.*
!**/.env.example

*.log
*_log.txt
*_log_low.txt
*_scene_log.txt
*_scene_log_low.txt
*.tmp

client/dist/
server/uploads/
server/secrets/*.json
!server/secrets/.gitkeep
server/secrets/r2_migration_checkpoint.json

clips/
imput/
*_clips/
*_stills/
vert6_ex1hunt/
vert6_frames/
vert6_mid_frames/
vert6_mid_frames2/

*.mp4
*.mov
*.webm
*.mkv
*.avi
